<h1 class="text-center"> Shell Sort </h1>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="shellSortMetaData.disadvantage"></div>