<h1 class="text-center">Heap</h1>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" heapMetaData.disadvantage"></div>
