<h1 class="text-center"> Radix Sort </h1>
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.defination"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.explainImage"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.properties"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.flowChart"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="radixSortMetaData.disadvantage"></div>