<h1 class="text-center">Recursive Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.types"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.memoryRepresntation"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.notes"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="recursiveMetaData.disadvantage"></div>
