<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Insert or update data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3" *ngIf="indexShow">
                <input type="text" name="index" 
                class="form-control" [(ngModel)]="index" 
                placeholder="Enter Index"
                autocomplete="off"
                >
            </div>
            <div class="mb-3">
              <input type="text" name="input" 
              class="form-control" [(ngModel)]="value" 
              placeholder="Enter data"
              autocomplete="off"
              >
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn box" data-bs-dismiss="modal" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
