<h1 class="text-center">Binary Search Tree</h1>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchTreeMetaData.disadvantage"></div>