<h1 class="text-center">Array</h1>
<div class="mt-md-5 mt-3" [innerHtml]="arrayMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.operations"></div>
<div class="mt-md-4 mt-3">
    <div class="row">
        <div class="col-6 pe-0">
           <div class="btn-bg p-lg-3 p-2 rounded-start tab arraytab " (click)="tabChange(0)">
               <p class='text-center m-0'>1D-Array</p>
           </div>
        </div>
        <div class="col-6 ps-0">
            <div class="btn-bg-unactive p-lg-3 p-2 rounded-end tab arraytab" (click)="tabChange(1)">
                <p class='text-center m-0'>2D-Array</p>
            </div>
        </div>
    </div>
</div>
<div class="my-4">
    <router-outlet></router-outlet>
</div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.algorithms"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="arrayMetaData.disadvantage"></div>

