<section class="d-flex align-items-center justify-content-center">
     <div class="mt-5 ">
          <img class="img-fluid" src="assets/ds-image/DSA-404.webp" alt="DSA  visualization page not found">
          <h2 class="text-center">Oops ! something went wrong</h2>
          <p class="text-center">Try different routes to find destination</p>
          <div class="d-flex align-items-center justify-content-center mt-5">
               <div class="box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3" routerLink="/data-structure">
                    <p class="m-0">Data Structures</p>
               </div> 
               <div class="box p-lg-2 p-1 px-lg-3 px-2 tab " routerLink="/algorithm">
                    <p class="m-0">Algorithms</p>
               </div> 
          </div>
     </div>
</section>
