<h5>Double linked list operations</h5>
<div class="d-flex mt-4 horizontal-scroll">
    <div 
    [class]="operations.Creation === operationStep 
    ?'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'
    :'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
    (click)="createLinkedList()">
        <p class="m-0">Create Linked List</p>
    </div>
     <ng-container *ngIf="doubleLinkedList.head !== null ">
        <div 
        [class]="operations.Insertion === operationStep 
        ?'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'
        :'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
         (click)="operationSelection(1)">
            <p class="m-0">Insertion</p>
        </div>
        <div 
        [class]="operations.Updation === operationStep 
        ?'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'
        :'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
        (click)="operationSelection(2)">
            <p class="m-0">Upadation</p>
        </div>
        <div 
        [class]="operations.Deletion === operationStep 
        ?'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'
        :'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
        (click)="operationSelection(3)">
            <p class="m-0">Deletion</p>
        </div>
     </ng-container>
</div>
<ng-container *ngIf="operations.Insertion === operationStep && doubleLinkedList.head !== null">
    <h5 class="mt-3">Double linked list Insertion</h5>
    <div class="d-flex mt-4 horizontal-scroll">
        <div 
        [class]=" insertOperationStep === insertOperations.InsertAtFirst ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2 ':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
        (click)="insertAtHead()">
            <p class="m-0">Insert At Head</p>
        </div>
        <div 
        [class]=" insertOperationStep === insertOperations.InsertAtEnd ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2 ':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
        (click)="insertAtTail()">
            <p class="m-0">Insert At Tail</p>
        </div>
        <div 
        [class]=" insertOperationStep === insertOperations.InsertAtPosition ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2 ':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
         (click)="insertAtPosition()">
            <p class="m-0">Insert At Position</p>
        </div>
    </div>
    </ng-container>
    <ng-container *ngIf="operations.Updation === operationStep && doubleLinkedList.head !== null">
        <h5 class="mt-3">Double linked list Upadation</h5>
        <div class="d-flex mt-4 horizontal-scroll">
            <div 
            [class]=" updateOperationStep === updateOperations.UpdateAtFirst ?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
            
            (click)="updateAtHead()">
                <p class="m-0">Update At Head</p>
            </div>
            <div 
            [class]=" updateOperationStep === updateOperations.UpdateAtEnd ?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
          
            (click)="updateAtTail()">
                <p class="m-0">Update At Tail</p>
            </div>
            <div 
            [class]=" updateOperationStep === updateOperations.UpdateAtPosition ?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
            (click)="updateAtPosition()">
                <p class="m-0">Update At Position</p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="operations.Deletion === operationStep && doubleLinkedList.head !== null">
        <h5 class="mt-3">Double linked list Deletion</h5>
        <div class="d-flex mt-4 horizontal-scroll">
            <div 
            [class]=" deleteOperationStep === deleteOperations.DeleteAtFirst ?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
            (click)="deleteOperation(0)">
                <p class="m-0">Delete At Head</p>
            </div>
            <div
            [class]=" deleteOperationStep === deleteOperations.DeleteAtEnd ?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
            (click)="deleteOperation(1)">
                <p class="m-0">Delete At Tail</p>
            </div>
            <div 
            [class]=" deleteOperationStep === deleteOperations.DeleteAtPosition?
            'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
            'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"  
            (click)="deleteAtPosition()">
                <p class="m-0">Delete At Position</p>
            </div>
        </div>
    </ng-container>
<h5 class=" mt-5">
    Double linked list
</h5>
<div class="mt-4 d-flex horizontal-scroll" [innerHTML]="helper.doubleLinkedList(doubleLinkedList.head)">
    <!-- <div class="d-flex align-items-center" *ngFor="let node of doublelinkedlist; let i=index">
        <ng-container *ngIf="i === 0">
            <p class="m-0 ms-1">Null</p>
            <div>
                <img class="rotate" src="assets/icons/link-arrow.jpg" width="30" height="10" alt="">
            </div>
        </ng-container>
        <div class="data-section border border-end-0 border-2 border-info">
            <p class="m-0">{{node.data}}</p>
        </div>
        <div class="link-section border border-2 border-danger">
            <p class="m-0">Link</p>
        </div>
        <div class="arrow">
            <div *ngIf="i < doublelinkedlist.length-1">
                <img class="rotate" src="assets/icons/link-arrow.jpg" width="30" height="10" alt="">
            </div>
            <img src="assets/icons/link-arrow.jpg" width="30" height="10" alt="">
        </div>
        <p *ngIf="i=== doublelinkedlist.length-1" class="m-0 ms-1">Null</p>
    </div>
    <ng-container *ngIf="doublelinkedlist.length===0">
        <div class="d-flex align-items-center">
            <p class="m-0 ms-1">Null</p>
            <div>
                <img class="rotate" src="assets/icons/link-arrow.jpg" width="30" height="10" alt="">
            </div>
            <div class="data-section border border-end-0 border-2 border-info">
                <p class="m-0">Null</p>
            </div>
            <div class="link-section border border-2 border-danger">
                <p class="m-0">Link</p>
            </div>
            <div class="arrow">
                <img src="assets/icons/link-arrow.jpg" width="30" height="10" alt="">
            </div>
            <p class="m-0 ms-1">Null</p>
        </div>
    </ng-container> -->
</div>