<h1 class="text-center"> Merge Sort </h1>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="mergeSortMetaData.disadvantage"></div>