<h1 class="text-center">Searching Algorithms</h1>
<div class="mt-md-4 mt-3" [innerHtml]="searchingMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="searchingMetaData.terminologies"></div>
<div class="mt-md-4 mt-3 d-flex align-items-center horizontal-scroll">
    <ng-container *ngFor="let data of searchingLinks; let i = index">
     <div class="box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3" [routerLink]="data.route">
          <p class="m-0">{{data.name}}</p>
     </div>
    </ng-container>
</div>