.circle{
    cursor: pointer;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:rgb(13, 212, 238);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
