<div class="container">
   <h1 class='text-center mt-lg-5 mt-4 pt-lg-5'>Select a option from below</h1>
   <div class="mt-5">
    <div class="row mt-5 pt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 col-6">
            <div class="d-flex justify-content-center">
                <div class="circle  text-center" routerLink="/data-structure">
                    <img class="img-fluid  col-lg-6 col-6" src="assets/icons/ds-icon.png" alt="">
                </div>
            </div>
            <h4 class="text-center mt-3">Data Structure</h4>
        </div>
        <div class="col-lg-4 col-6">
          <div class="d-flex justify-content-center">
             <div class="circle  text-center" routerLink="/algorithm">
               <img class="img-fluid  col-lg-6 col-6" src="assets/icons/algo-icon.png" alt="">
             </div>
           </div>
           <h4 class="text-center mt-3">Algorithms</h4>
        </div>
        <div class="col-lg-2"></div>
    </div>
   </div>
</div>
