<h1 class="text-center">Hash Table</h1>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.terminologies"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.type"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="hashTableMetaData.disadvantage"></div>
