.tree{
    display: flex;
    align-items: center;
    justify-content: center;
}
.node-bottom-line{
    height: 20px;
    width: 1px;
    background-color: rgb(64, 63, 63);
}

.node-children{
    display: flex;
    border-top: 1px solid rgb(64, 63, 63);
}

.node{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.left-node{
    margin-right: 20px;
}
.right-node{
    margin-left: 20px;
}

.node-element{
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 8px;
    background:rgba(16, 203, 236, 0.76);
}

.node:not(.node--root) .node-element::before{
   content: '';
   position: absolute;
   width: 1px;
   height: 20px;
   top:-20px;
   background: rgb(64, 63, 63);
   display: block;
}

.node-element:hover{
    border-color: black;
}
.node-element:hover ~ .node-children .node-element::before{
    width: 2px;
    background-color: black;
}

.node-element:hover ~ .node-children,
.node-element:hover ~ .node-children .node-children
{
    border-top-width: 2px;
    border-color: black;
}
.node-element:hover ~ .node-bottom-line,
.node-element:hover ~ .node-children .node-bottom-line
{
    width: 2px;
    background-color: black;
}

.node-element .node-element ::before, .node-children, .node-bottom-line{
    transition: all ease 0.15s;
}
