<div class="d-flex align-items-center float-start btn bg-info px-lg-3 px-2 py-lg-2 py-1 mt-lg-3 mt-1" (click)="gotoBack()">
     <img src="assets/icons/Back-white.png" alt="">
     <p class="m-0 ms-1 text-light fw-bold d-lg-block d-none">Back</p>
 </div>
 <h1 class="text-center mt-5">Binary Search Tree</h1>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.defination"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.example"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.properties"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.operations"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.applications"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.advantage"></div>
 <div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.disadvantage"></div>
