<h1 class="text-center">AVL(Adelson-Velskii and Landis) Tree</h1>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="avlTreeMetaData.disadvantage"></div>
