<h1 class="text-center">Jump Search Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="jumpSearchMeatData.disadvantage"></div>