<div class=" margin-top">
    <div class="d-flex justify-content-between" *ngIf="selectedRoute > -1">
        <div>
            <div [hidden]="selectedRoute ===0" class="box p-lg-2 p-1 px-lg-3 px-2 tab" (click)="previousRoute()">
                <p class="m-0">Previous</p>
            </div>
        </div>
        <div>
            <div [hidden]="selectedRoute === routersData.length-1" class="box p-lg-2 p-1 px-lg-3 px-2 tab" (click)="nextRoute()">
                <p class="m-0">Next</p>
            </div>
        </div>
    </div>
</div>