<h1 class="text-center">Binary Search Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="binarySearchMetaData.disadvantage"></div>