<h1 class="text-center">Graph</h1>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.terminologies"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.type"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="graphMetaData.disadvantage"></div>
