<h5>Single linked list operations</h5>
<div class="d-flex mt-4 flex-wrap">
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleOp" (click)="operationSelection(0)">
        <p class="m-0">Create Linked List</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleOp" (click)="operationSelection(1)">
        <p class="m-0">Insertion</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleOp" (click)="operationSelection(2)">
        <p class="m-0">Upadation</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleOp" (click)="operationSelection(3)">
        <p class="m-0">Deletion</p>
    </div>
</div>

<ng-container *ngIf="insertionShown">
<h5 class="mt-3">Single linked list Insertion</h5>
<div class="d-flex mt-4 flex-wrap">
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleIn" (click)="operationInsertion(0)">
        <p class="m-0">Insert At Head</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleIn" (click)="operationInsertion(1)">
        <p class="m-0">Insert At Tail</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleIn" (click)="operationInsertion(2)">
        <p class="m-0">Insert At Position</p>
    </div>
</div>
</ng-container>
<ng-container *ngIf="updationShown">
    <h5 class="mt-3">Single linked list Upadation</h5>
    <div class="d-flex mt-4 flex-wrap">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleUp" (click)="operationUpdation(0)">
            <p class="m-0">Update At Head</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleUp" (click)="operationUpdation(1)">
            <p class="m-0">Update At Tail</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleUp" (click)="operationUpdation(2)">
            <p class="m-0">Update At Position</p>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="deletionShown">
    <h5 class="mt-3">Single linked list Deletion</h5>
    <div class="d-flex mt-4 flex-wrap">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleDel" (click)="operationDeletion(0)">
            <p class="m-0">Delete At Head</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleDel" (click)="operationDeletion(1)">
            <p class="m-0">Delete At Tail</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 sigleDel" (click)="operationDeletion(2)">
            <p class="m-0">Delete At Position</p>
        </div>
    </div>
</ng-container>
