<h4>One Dimension array operations</h4>
<div class="d-flex align-items-center mt-3 horizontal-scroll">
    <div 
    [class]=" operationStep === operations.Creation ?
    'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3':
    'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3'"
     (click)="createNewArray()"
     >
        <p class="m-0">Create a new array</p>
    </div>
    <ng-container *ngIf="createdArr.length > 0">
        <div [class]=" operationStep === operations.Insertion ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3'" 
        (click)="operationSelection(operations.Insertion)">
            <p class="m-0">Insertion</p>
        </div>
        <div 
        [class]=" operationStep === operations.Deletion?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3'"
        (click)="operationSelection(operations.Deletion)">
            <p class="m-0">Deletion</p>
        </div>
        <div 
        [class]=" operationStep === operations.Updation ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3'"
        (click)="operationSelection(operations.Updation)">
            <p class="m-0">Update</p>
        </div>
        <div
        [class]=" operationStep === operations.Rotate ?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3'"
          (click)="rotateArr(operations.Rotate)">
            <p class="m-0">Rotate Array</p>
        </div>
    </ng-container>
</div>
<div class="mt-4" *ngIf="operations.Insertion === operationStep && createdArr.length > 0 ">
    <h5>Insertion In An Array</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div 
        [class]="insertOperations.InsertAtFirst === insertOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
        (click)="insertAtFirst()"
        >
            <p class="m-0">Insert At First</p>
         </div>
        <div 
        [class]="insertOperations.InsertAtEnd === insertOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
        (click)="insertAtEnd()"
        >
           <p class="m-0">Insert At End</p>
        </div>
         <div 
         [class]="insertOperations.InsertAtPosition === insertOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
         (click)="insertAtIndex()"
         >
            <p class="m-0">Insert At Index</p>
         </div>
    </div>
</div>
<div class="mt-4" *ngIf="operations.Deletion === operationStep && createdArr.length > 0 ">
    <h5>Deletion In An Array</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div 
        [class]="deleteOperations.DeleteAtFirst === deleteOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'" 
         (click)="deleteAtFirst()"
        >
           <p class="m-0">Delete At First</p>
        </div>
        <div 
        [class]="deleteOperations.DeleteAtEnd === deleteOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
         (click)="deleteAtEnd()"
        >
            <p class="m-0">Delete At End</p>
         </div>
         <div 
         [class]="deleteOperations.DeleteAtPosition === deleteOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
         (click)="deleteAtIndex()"
         >
            <p class="m-0">Delete At Index</p>
         </div>
    </div>
</div>
<div class="mt-4" *ngIf="operations.Updation === operationStep && createdArr.length > 0 ">
    <h5>Updation In An Array</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div 
        [class]="updateOperations.UpdateAtFirst === updateOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
        (click)="updateAtFirst()"
        >
           <p class="m-0">Update At First</p>
        </div>
        <div 
        [class]="updateOperations.UpdateAtEnd === updateOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
        (click)="updateAtEnd()"
        >
            <p class="m-0">Update At End</p>
         </div>
         <div 
         [class]="updateOperations.UpdateAtPosition === updateOperationStep?
        'box box-active p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2':
        'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 mb-2'"
         (click)="updateAtIndex()"
         >
            <p class="m-0">Update At Index</p>
        </div>
    </div>
</div>
<!---Array section-->
<div class="mt-5 mb-5" *ngIf="createdArr.length > 0">
  <h4>Generated Array</h4>
  <div class="d-flex horizontal-scroll mt-3">
     <div class='me-lg-3 me-2 mb-2'>
         <div class='border border-2 border-info'>
           <div class="tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center
                border-bottom border-2 border-danger"
                >
               <p class="m-0">Index</p>
           </div>
           <div class='tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center'>
             <p class="m-0">Data</p>
           </div>
         </div>
     </div>
      <div class='me-lg-3 me-2 mb-2' *ngFor="let data of createdArr; let i = index">
         <div class='border border-2 border-info'>
            <div 
                [class]=" index === i?
                'index index-active tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center border-bottom border-2 border-danger':
                'index tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center border-bottom border-2 border-danger'"
                >
                <p class="m-0">{{i}}</p>
            </div>
            <div 
            [class]="dataIndex === i?
            'data data-active tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center':
            'data tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center'"
            >
              <p class="m-0">{{data}}</p>
            </div>
         </div>
      </div>
  </div>

</div>