<h4>One Dimension array operations</h4>
<div class="d-flex align-items-center mt-3 horizontal-scroll">
    <div class="box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 opbtn"
     (click)="createNewArray()"
     >
        <p class="m-0">Create a new array</p>
    </div>
    <div [class]="operationShow ?'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3 opbtn':'d-none'"  (click)="opbtnSection(1)">
        <p class="m-0">Insertion</p>
    </div>
    <div [class]="operationShow ?'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3  opbtn':'d-none'"  (click)="opbtnSection(2)">
        <p class="m-0">Deletion</p>
    </div>
    <div [class]="operationShow ?'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3  opbtn':'d-none'"  (click)="opbtnSection(3)">
        <p class="m-0">Update</p>
    </div>
    <div [class]="operationShow ?'box p-lg-2 p-1 px-lg-3 px-2 tab me-lg-4 me-3  opbtn':'d-none'"  (click)="opbtnSection(4)">
        <p class="m-0">Rotate Array</p>
    </div>
</div>
<div class="mt-4" *ngIf="insertSubMenu">
    <h5>Insertion sub menu</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opInsBtn" 
        (click)="insertIntoArray()"
        >
           <p class="m-0">Insert</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opInsBtn" 
        (click)="insertAtFirst()"
        >
            <p class="m-0">Insert at first</p>
         </div>
         <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opInsBtn" 
         (click)="insertAtIndex()"
         >
            <p class="m-0">Insert at Index</p>
         </div>
    </div>
</div>
<div class="mt-4" *ngIf="deleteSubMenu">
    <h5>Deletion sub menu</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opDltBtn"
         (click)="opDltBtnSelection(0)"
        >
           <p class="m-0">Delete at end</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opDltBtn"
         (click)="opDltBtnSelection(1)"
        >
            <p class="m-0">Delete at first</p>
         </div>
         <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opDltBtn"
         (click)="deleteAtIndex()"
         >
            <p class="m-0">Delete at Index</p>
         </div>
         <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opDltBtn"
         (click)="opDltBtnSelection(3)"
         >
            <p class="m-0">Delete all</p>
         </div>
    </div>
</div>
<div class="mt-4" *ngIf="updateSubMenu">
    <h5>Upadation sub menu</h5>
    <div class="d-flex horizontal-scroll align-items-center mt-3">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opUpdBtn" 
        (click)="updateAtFirst()"
        >
           <p class="m-0">Update at first</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opUpdBtn" 
        (click)="updateAtEnd()"
        >
            <p class="m-0">Update at end</p>
         </div>
         <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 opUpdBtn" 
         (click)="updateAtIndex()"
         >
            <p class="m-0">Update at Index</p>
        </div>
    </div>
</div>
<!---Array section-->
<div class="mt-5 mb-5" *ngIf="createdArr.length > 0">
  <h4>Generated Array</h4>
  <div class="d-flex horizontal-scroll mt-3">
    <div class='me-lg-3 me-2 mb-2'>
        <div class='border border-2 border-info'>
           <div class="tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center
                border-bottom border-2 border-danger"
                >
               <p class="m-0">Index</p>
           </div>
           <div class='tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center'>
             <p class="m-0">Data</p>
           </div>
         </div>
     </div>
      <div class='me-lg-3 me-2 mb-2' *ngFor="let data of createdArr; let i = index">
         <div class='border border-2 border-info'>
            <div 
                class="index tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center 
                border-bottom border-2 border-danger"
                (click)="selectedIndex(i)"
                >
                <p class="m-0">{{i}}</p>
            </div>
            <div 
            class='data tab w-100 px-lg-3 px-2 py-lg-2 py-1 text-center'
            (click)="selectedData(i)"
            >
              <p class="m-0">{{data}}</p>
            </div>
         </div>
      </div>
  </div>
  <div class="mt-4" *ngIf="indexWiseShow">
      <h5 >Index wise value</h5>
      <p>Selected index is : {{index}} </p>
      <p class="m-0">Data of selected index is: {{value}}</p>
      <p class="m-0">
          <small>it works like as arr[index]</small>
      </p>
  </div>
  <div class="mt-4" *ngIf="datawiseShow">
    <h5 >Data wise Index</h5>
    <p>Selected data is : {{datavalue}} </p>
    <p class="m-0">Index of selected data is: {{dataindex}}</p>
    <p class="m-0">
        <small>it works like as arr.indexOff(data)</small>
    </p>
</div>
</div>