<div class="d-flex align-items-center float-start btn bg-info px-lg-3 px-2 py-lg-2 py-1 mt-lg-3 mt-1" (click)="gotoBack()">
    <img src="assets/icons/Back-white.png" alt="">
    <p class="m-0 ms-1 text-light fw-bold d-lg-block d-none">Back</p>
</div>
<h1 class="text-center mt-5">Character</h1>
<div class="mt-5">
    <p>
        This data type is used to store a single character. The character must be enclosed within single quotes, 
        like ‘E’ or ‘e’. Alternatively, you can also use ASCII values to display certain characters.
    </p>
</div>
<app-read-more></app-read-more>
