<section class="p-5 bg-dark margin-top">
 <div class="row">
    <div class="col-md-4">
        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="rajesh-rathore-0501" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/rajesh-rathore-0501?trk=profile-badge">Rajesh Rathore</a></div>

    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
 </div>
</section>
