<h1 class="text-center">Linear Search Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.defination"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.explainImage"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.properties"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.flowChart"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="linearSearchMetaData.disadvantage"></div>