<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="sizeInput" class="modal-title" id="staticBackdropLabel">Enter the size of Matrix</h5>
        <h5 *ngIf="!sizeInput" class="modal-title" id="staticBackdropLabel">Enter the row of Matrix</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div *ngIf="sizeInput" class="mb-3">
              <input type="text" name="input" 
              class="form-control" [(ngModel)]="size" 
              placeholder="3 3"
              autocomplete="off"
              >
            </div>
            <small *ngIf="!sizeInput">row elements are: {{inputData.size.column}}</small>
            <small *ngIf="!sizeInput">Entered rows are : <b>{{count}}/{{inputData.size.row}}</b></small>
            <div *ngIf="!sizeInput" class="mb-3 mt-2">
                <input type="text" name="input" 
                class="form-control" [(ngModel)]="row" 
                placeholder="1 2 3 4 according to size of the matrix"
                autocomplete="off"
                >
              </div>
        </form>
        <small *ngIf="errorShow" class="text-danger">{{error}}</small>
      </div>
      <div class="modal-footer">
        <button *ngIf="nextBtn" type="button" class="btn box" (click)="next()">Next</button>
        <button *ngIf="!nextBtn" type="button" data-bs-dismiss="modal" class="btn box" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
