<h1 class="text-center">Insertion Sort</h1>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3 " [innerHtml]="insertionSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="insertionSortMetaData.disadvantage"></div>