<h1 class="text-center"> Bucket Sort </h1>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="bucketSortMetaData.disadvantage"></div>
<pre class="language-javascript">
    <code>
        const test = 'test';
        console.log('Hello world');
    </code>
</pre>