<h1 class="text-center">Backtracking Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.types"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="backtrackingMetaData.disadvantage"></div>
