<h1 class="text-center">Exponential Search Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="exponentialSearchMetaData.disadvantage"></div>