<div class="d-flex align-items-center float-start btn bg-info px-lg-3 px-2 py-lg-2 py-1 mt-5" (click)="gotoBack()">
    <img src="assets/icons/Back-white.png" alt="">
    <p class="m-0 ms-1 text-light fw-bold d-lg-block d-none">Back</p>
</div>
<h1 class="text-center mt-4 pt-3">Integer</h1>
<div class="mt-5">
<p>The INTEGER data type stores whole numbers that range from -2,147,483,647 to 2,147,483,647 for 9 or 10 digits of precision.</p>
<p>The number 2,147,483,648 is a reserved value and cannot be used. The INTEGER value is stored as a signed binary integer and is 
    typically used to store counts, quantities, and so on.
</p>
<p> Arithmetic operations and sort comparisons are performed more efficiently on integer 
     data than on float or decimal data.
     INTEGER columns, however, cannot store absolute values beyond (231-1). 
     If a data value lies outside the numeric range of INTEGER, the database server 
     does not store the value.
</p>
<p>INTEGER data types require 4 bytes of storage per value.</p>
</div>

<app-read-more></app-read-more>

