<div class="d-flex align-items-center float-start btn bg-info px-lg-3 px-2 py-lg-2 py-1 mt-5" (click)="gotoBack()">
    <img src="assets/icons/Back-white.png" alt="">
    <p class="m-0 ms-1 text-light fw-bold d-lg-block d-none">Back</p>
</div>
<h1 class="text-center mt-4 pt-3">Queue</h1>
<div class="mt-md-5 mt-3" [innerHtml]="queueMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.operations"></div>
<div class="mt-5">
    <h5>Queue operations</h5>
    <div class="d-flex flex-wrap align-items-center mt-3">
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 stkOp"
         (click)="pushElement()">
            <p class="m-0">Push</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 stkOp" (click)="operations(1)">
            <p class="m-0">Pop</p>
        </div>
        <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 stkOp" (click)="operations(2)">
            <p class="m-0">Clear All</p>
        </div>
    </div>
</div>
<div class="d-flex mt-5">
    <div class='d-flex flex-column'>
      <div class='d-flex  border-2 border-info border-top border-bottom'>
           <div [class]="classIndicator(i)" *ngFor="let queue of queueData; let i = index">
               <p class="m-0">{{queue}}</p>
           </div>
           <div class="data-box" *ngIf="queueData.length===0">
            <p class="m-0">Null</p>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <div class="d-flex flex-column align-items-center ms-2">
            <img class="rotate" src="assets/icons/arrow.png" height="25" width="40" alt="">
             <p class="m-0 mt-2"> Head</p>
           
         </div>
         <div class="d-flex flex-column align-items-center me-2" *ngIf="queueData.length>1">
            <img class="rotate" src="assets/icons/arrow.png" height="25" width="40" alt="">
             <p class="m-0 mt-2">Tail</p>
           
         </div>
      </div>
    </div>
</div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.algorithms"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="queueMetaData.disadvantage"></div>


