<h5>Circular linked list operations</h5>
<div class="d-flex mt-4 flex-wrap">
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 circularOp" (click)="operationSelection(0)">
        <p class="m-0">Create Linked List</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 circularOp" (click)="operationSelection(1)">
        <p class="m-0">Insertion</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 circularOp" (click)="operationSelection(2)">
        <p class="m-0">Upadation</p>
    </div>
    <div class="box p-lg-2 p-1 px-lg-3 px-2 btn me-lg-4 me-3 mb-2 circularOp" (click)="operationSelection(3)">
        <p class="m-0">Deletion</p>
    </div>

</div>
