<img class="m-3 float-end tab" src="assets/icons/cancle-btn.svg" height="18" width="18" alt="cancle btn" (click)="closeDialog()">
<div class="pb-md-4 pb-3 pt-3 px-md-4 px-3">
   <h5>{{inputTitle.title}}</h5>
   <div class="mb-3 mt-4">
     <input type="text" name="input" 
     class="form-control"
     value=""
     #singleInput
     [placeholder]="inputTitle.placeholder"
     autocomplete="off"
     >
   </div>
   <p class="m-0 fs-smaller text-danger"><b>Note:</b> each non-numeric character consider as 0</p>

   <div class="btn box mt-3" (click)="submitData(singleInput.value)">
        <p class="text-white m-0"> Submit</p>
   </div>

</div>
