<h1 class="text-center">Selection Sort</h1>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="selectionSortMetaData.disadvantage"></div>