<nav class="navbar navbar-expand-lg navbar-light pt-lg-3 pt-2 fixed-top bg-white">
    <div class="container">
      <a class="navbar-brand fw-bold" routerLink="/">DSA Visualization</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleMenu" aria-controls="navbarToggleMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle active m-0"  id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Data Structures
                </p>
                <ul class="dropdown-menu data-link-dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                  <li *ngFor="let data of dataStructure" [routerLink]="data.route" (click)="closeCollapse()">
                    <p class="m-0 px-3 py-1">{{data.name}}</p>
                  </li>
                  
                </ul>
            </li>
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle active m-0" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Algorithms
                </p>
                <ul class="dropdown-menu data-link-dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                  <li *ngFor="let data of algorithms" [routerLink]="data.route" (click)="closeCollapse()">
                    <p class="m-0 px-3 py-1">{{data.name}}</p>
                  </li>
                </ul>
            </li>
        </ul>
        <div class="col-xl-3 col-lg-4 col-md-8 dropdown">
          <div id="search-route" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <input class="form-control" type="search" [(ngModel)]="searchKey" placeholder="Search..." autocomplete="offtopic" aria-label="Search">
          </div>
          <ul class="dropdown-menu search_menu" aria-labelledby="search-route">
            <li *ngFor="let search of searchData | searchRoute: searchKey" [routerLink]="search.route" (click)="closeCollapse()">
                <p class="m-0 px-3 py-1">{{search.name}}</p>
            </li>
            <div *ngIf="(searchData | searchRoute: searchKey).length ===0">
               <p class="text-center mt-5">No result found</p>
            </div>
        </ul>
        </div>
      </div>
    </div>
  </nav>
