.nav-item {
  margin-right: 30px;
  font-weight: 500;
}
.data-link-dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight:400;
    font-size: 14px;
    width: 250px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.data-link-dropdown-menu li {
    cursor: pointer;
}
.data-link-dropdown-menu li:hover{
    background-color: rgba(16, 203, 236, 0.6);
}
.search_menu{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight:400;
    font-size: 14px;
    height: 250px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;  
}
.search_menu li {
    cursor: pointer;
}
.search_menu li:hover{
    background-color: rgba(16, 203, 236, 0.6);
}



@media (max-width: 767px){
    .data-link-dropdown-menu{
        width: 200px;
        height:200px;
    }
}