<h1 class="text-center">Counting Sort</h1>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="countingSortMetaData.disadvantage"></div>