<h1 class="text-center">Greedy Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.components"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.algorithm"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="greedyMetaData.disadvantage"></div>