<h1 class="text-center"> Quick Sort </h1>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.flowChart"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.explainImage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="quickSortMetaData.disadvantage"></div>