<h1 class="text-center">Interpolation Search Algorithm</h1>
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.defination"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.explainImage"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.properties"></div>
<!-- <div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.flowChart"></div> -->
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.workingProcedure"></div>
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.other"></div>
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]="interpolationSearchMetaData.disadvantage"></div>