<h1 class="text-center">B-Tree</h1>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.defination"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.example"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.properties"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.operations"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.applications"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.advantage"></div>
<div class="mt-md-4 mt-3" [innerHtml]=" bTreeMetaData.disadvantage"></div>
